.title-mobs{
    font-size: clamp(1.5em, 1em + 4vw, 7em);
    display: flex;
    align-items: center;
    color: white;
    width: min-content;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    margin-bottom: 300px;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.def-mobs{
    font-size: clamp(15px, 10px + 1vw, 20px);
    width: max(400px, 50vw);
    height: max-content;
    color: white;
    background-color: rgba(0, 0, 0, 0.07);
    padding: 15px;
    border-radius: 10px;
    margin-left: 20%;
    margin-bottom: 100px;
    text-align: justify;
}

.def-mobs:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.all-types{
    display: flex;
    width: max-content;
    height: max-content;
    margin-bottom: 200px;
    gap: 50px;
}

.mob-types{
    background-color: rgba(0, 0, 0, 0.07);
    padding: 15px;
    width: 200px;
    display: flex;
    align-items: center;
    transition: 1s;
    border-radius: 10px;
}

.mob-types a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
}

.mob-types img{
    width: 150px;
    border-radius: 4px;
}

.mob-types:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 800px){
    .all-types{
        flex-direction: column;
    }

    .def-mobs{
        margin-inline: auto;
    }
}

@media screen and (max-width: 460px){
    footer{
        width: 100%;
    }

    .def-mobs{
        width: 90%;
        margin-left: 5%;
        font-size: 18px;
        box-sizing: border-box;
    }

    .all-types{
        flex-direction: column;
        width: 100%;
        margin-bottom: 100px;
    }

    .mob-types{
        margin-block: 15px;
    }

    .title-mobs{
        font-size: 50px;
    }
}