.title-passive{
    font-size: clamp(1.5em, 1em + 3vw, 7em);
    display: flex;
    align-items: center;
    color: white;
    width: min-content;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    margin-bottom: 300px;
    padding: 0px 10px 0px 10px;
    text-align: center;
    flex-direction: column;
}

.def-passive{
    font-size: clamp(15px, 10px + 1vw, 20px);
    width: max(400px, 50vw);
    height: max-content;
    color: white;
    background-color: rgba(0, 0, 0, 0.07);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 100px;
    text-align: justify;
}

.def-passive:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.passive-img{
    width: min-content;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.07);
    padding: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
    color: white;
    flex-direction: column;
    box-sizing: border-box;
    font-size: clamp(15px, 10px + 1vw, 20px);
}

.passive-img h1{
    padding-bottom: 3px;
}

.passive-img a{
    color: purple;
}

.img-from{
    padding-top: 3px;
    color: rgb(37, 37, 37);
    font-family: arial;
    font-size: clamp(10px, 10px + 1vw, 15px);
}

.passive-img img{
    border: solid 6px rgba(14, 58, 58, 0.6);
    width: min(10000px, 80vw);
}

.mobile-passive-img{
    display: none;
}

.back{
    width: max-content;
    margin-bottom: 50px;
    transition: 1s;
}

.back a{
    text-decoration: none;
    color: white;
    padding-inline: 30px;
    font-size: 20px;
    padding-block: 15px;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    transition: 1s;
}

.back a:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 800px){
    .def-mobs{
        margin-inline: auto;
    }

    .passive-img{
        width: 90%;
    }
}

@media screen and (max-width: 460px){
    .title-passive{
        font-size: 35px;
        width: 90%;
    }

    .passive-img{
        display: none;
    }

    .mobile-passive-img{
        display: block;
        width: 90%;
        display: flex;
        align-items: center;
        margin-bottom: 100px;
        background-color: rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        flex-wrap: wrap;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        color: white;
    }

    .mobile-passive-img img{
        width: 100%;
        border: solid 6px rgba(14, 58, 58, 0.6);
        box-sizing: border-box;
    }

    .mobile-passive-img p{
        font-size: 12px;
    }

    .def-passive{
        box-sizing: border-box;
        width: 90%;
        margin-left: 5%;
    }

    .img-from{
        font-size: 10px;
    }
}